@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto Mono", monospace;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

html,
body,
#root {
  min-height: 100%;
}